
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav {
    display: flex;
    justify-content: space-around;
    height: 100px;
   
    text-align: center;
    align-items: center;
}

nav ul{
  display:flex;
  gap: 20px;
  text-align: center;
  align-items: center;
  
}
nav ul li{
  list-style: none;
}
nav ul a{
  text-decoration: none;
  color: black;
}

.banner-text h2{
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 4.3rem;
  color: #3A3A3A;
  
  max-width: 582px;
  
  
}
.banner-text p{
  font-size: 1rem;
  font-weight: 600;
  color: #3A3A3A;
  
  max-width: 505px;

}
.banner-text button{
  padding: 10px 24px ;
  border: none;
  border-radius: 41px;
  height: 44px;
  width: 196px;
  background-color: #E02C6D;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  

}
.banner{
  display: flex;
  margin-left: 120px;
  margin-right: 150px;
  gap: 30px;
  max-width: 1140px;
  padding-bottom: 100px;
 
}
.banner .banner-img{
  height: 475px;
  width: 475px;
  background-image: url(./images/Circle\ design.svg);
}
.banner img{
  height: 414px;
  width: 440px;
}

.logo{
  margin-left: 227px;
  margin-right: 227px;
  max-width: 1110px;
  height: 110px;
  
}
.logo img{
  margin-right: 50px;
 
}

